* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    display: flex;
    flex-direction: column;
    align-items: center;

 }

body {
    background: aliceblue;
    font-family: 'Supermercado One', cursive;
}

.App {
    width: 1200px;
}

.post {
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
}
.post-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

}
.post__body {
    text-align: center;
    display: flex;
    justify-content: center;
}
.navbar {
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 15px;
    background: lightblue;
}
.navbar__links {
    margin-left: 30px;

}
.navbar__link {
    margin-right: 70px;
    text-decoration: none;
    color: dimgray;
    font-size: 20px;
    font-family: 'Supermercado One', cursive;
    font-weight: bold;
}

.table-content {
    width: 700px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    border: 1px solid #555;
    font-family: 'Supermercado One', cursive;
}

.table-tr {
    border: 1px solid #888;

}

tbody {
    margin-top: 10px;
    font-family: 'Supermercado One', cursive;
    cursor: pointer;
}