.Input {
    width: 100%;
    border: 1px solid teal;
    padding: 5px 15px;
    margin: 5px 0;
}
@media screen and (max-width: 600px) {
    .Input {
        width: 50%;
        display: flex;
        justify-content: center;
        margin-left: 170px;
    }
}
